.DS_Store
*.xcuserstate
*.xcworkspace
*.swp
*.swo
*~
.vscode/
.idea/
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
Pods/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
AI-OS.xcodeproj/project.xcworkspace/xcuserdata/
